:root{
    --max-width: 1200px;
    --opauge-white: rgba(255,255,255, .87);
}

body{
    background: var(--red);
    font-family: "Roboto";
    width: 100%;
}
.row{
 margin-top: 40px;
 margin-bottom: 40px;
}
.container-fluid{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.navbar-container{
    background: #343a40;
}
.navbar-container nav{
 max-width: var(--max-width);
 margin: 0px auto;
}
.nav-item{
 padding: 0px 20px;
}
.jumbotron-fluid{
    height: 60vh;
    background: var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron h1{
   /* color: var(--opauge-white);*/
   font-weight: 600;
   font-size: 102px;
   padding-bottom: 40px;
}
.jumbotron p{
    color: rgba(255,255,255, .76);
}
.my-max-width-container{
 max-width: var(--max-width);
 margin: 0px auto;
 padding: 40px 0px;
}
.img-placeholder{
 padding: 20px;
 background: var(--opauge-white);
 min-height: 300px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--gray-dark);
 font-size: 20px;
 box-shadow: inset 0px 0px 29px rgba(0,0,0,.5);
}

.knockout-text{
    text-align: center;
    background:url("img/knockout-text-background.jpg") center;
    background-size:contain;
    margin:auto;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-weight: 800;
}
.navbar-brand .knockout-text{
    font-size: 42px;
}

.callout-text{
    background: var(--gray-dark);
    color: var(--opauge-white);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 22px rgba(0,0,0,.6);
    height: 100%;
}
.col-md-4 .triptic-col{
 background: var(--gray-dark);
 padding: 0px;
 border-radius: 0px 0px 20px 20px;
 overflow: hidden;
}

.col-md-4:first-of-type .triptic-col{
    margin-left:0px;
    border-radius: 0px 20px 0px 20px;
    overflow: hidden;
}
.col-md-4:last-of-type .triptic-col{
    margin-right: 0px;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
}

.triptic-col .img-placeholder{
    margin: 0px;
    padding: 0px;
}
.triptic-col .triptic-text p{
    color: var(--opauge-white);
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 0px !important;
}
.triptic-text{
    min-height: 175px;
}

.carousel-item{
    min-height: 400px;
    display: flex !important;
    justify-content: center;
    align-items: center; 
}
.carousel-item:nth-child(1){
    background:var(--cyan);
}
.carousel-item:nth-child(2){
    background: var(--green);
}

.carousel-item:nth-child(3){
    background: var(--purple);
}
.carousel-item .knockout-text{
    font-size: 10vw;
}

div#carouselExampleFade::after{
    content: "";
    box-shadow: 14px 10px 15px black;
    width: 50%;
    height: 5px;
    position: absolute;
    transform: rotate(-2deg);
    bottom: 10px;
    left: 20px;
    z-index: -1111111;
    background: transparent;
}

div#carouselExampleFade::before{
    content: "";
    box-shadow: 14px 10px 15px black;
    width: 50%;
    height: 5px;
    position: absolute;
    transform: rotate(2deg);
    bottom: 10px;
    right:40px;
    background: transparent;
}

footer{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-dark);
    font-size: 23px;
}
.copyright p{
    color: var(--gray);
}
.visit{
    background: var(--gray-dark);
    font-size: 72px;
    box-shadow: inset 0px 0px 20px var(--opauge-white);
    display: flex;
    animation-name: visit-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about-page{
    background: var(--gray-dark);
}
.subpage-content-container{
    background: var(--gray-dark);
}
.about-page h1, .contact-page h1, .thankyou-page h1{
    min-height: 200px;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.subpage-content-container p{
    background: var(--gray-dark);
    height: 400px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    color: var(--opauge-white);
}

.about-p-container, .contact-form{
    padding: 30px;
    background: var(--red);
}

.contact-form form{
    background: var(--gray-dark);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0px auto;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    color: var(--opauge-white);
}


#contact-form{
    max-width: 600px;
    margin: 80px auto;
    font-weight: 600;
}
#contact-form label{
    margin: 15px 0px 5px 10px;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
}



#submit{
    background: var(--green);
    margin: 40px 0px;
    border: none;
    color: var(--op);
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 0px 2px var(--opauge-white);
    padding: 15px;
    border-radius: 40px;
}

.thanks{
    min-height: 70vh !important;
}

@keyframes visit-glow {
    0%{    box-shadow: inset 0px 0px 40px var(--opauge-white);}
    50%{    box-shadow: inset 0px 0px 60px var(--opauge-white);}
    100%{    box-shadow: inset 0px 0px 40px var(--opauge-white);
    }
  }
